@{
    ViewData["Title"] = "Home Page";
}

<h2>
    Web Application to practice skills programming in CSharp.
</h2>
<p>
    I started to learn CSharp last year, so i made this web application following the Nelio Alves's course.
</p>

    
